---
import Link from "../shared/Link.astro";
---

<article class="mb-12 fade-in">
  <header class="mb-6">
    <h1 class="text-2xl font-semibold font-inter">Youssef Khaled</h1>
    <p class="text-primary italic">Frontend Developer, Giza, Egypt</p>
  </header>
  <p class="mb-6">
    A frontend developer with over 3 years of experience shaping web
    applications from vision to execution. I care about user experience,
    accessibility, and the "why" behind every decision made along the way. I
    don't typically enjoy just closing tickets. Given my background in business,
    I love being part of the whole journey, suggesting and critiquing business
    and design ideas, and working to bring them to life.
  </p>
  <p class="mb-6">
    Most recently at
    <Link href="/projects/frontline"
      ><span class="text-foreground underline hover:no-underline"
        >Frontline</span
      ></Link
    >
    , I’ve focused on the experience of sales management products and workflows,
    designing a conversational interface to replace long, traditional forms. This
    helps sales representatives document their deals more efficiently and enjoyably.
  </p>
  <p class="mb-6">
    Outside of tech, you'll find me spending most of my free time walking,
    playing video games especially
    <a
      target="_blank"
      href="https://tracker.gg/valorant/profile/riot/sicada%23astro"
      class="underline text-sm">Valorant</a
    >.
  </p>
</article>
