<section class="mb-12 fade-in" style="animation-delay: 0.6s;">
  <h2 class="text-lg font-bold mb-4 font-inter">Contact</h2>
  <p>
    You can reach me at
    <code
      class="font-mono text-sm font-semibold text-gray-600 bg-gray-100 px-1.5 py-0.5 rounded"
      ><a href="mailto:youssefkhaled3301@gmail.com"
        >youssefkhaled3301@gmail.com
      </a></code
    >, or connect with me on <a
      target="_blank"
      href="https://www.linkedin.com/in/youssef-khaled-mahmoud/"
      class="underline">LinkedIn</a
    >, you can also check out my <a
      target="_blank"
      href="https://github.com/SIC4DA"
      class="underline">GitHub</a
    >.
  </p>
</section>
