---
import Link from "@/components/shared/Link.astro";
---

<nav class="flex gap-4 justify-end mb-16">
  <Link href="/">/about</Link>
  <Link href="/">/projects</Link>
  <Link href="/resume">/resume</Link>
</nav>
